body {
  background-color: antiquewhite;
  font-family: "Arial", cursive, sans-serif;
  text-align: center;
  cursor: Default
}
button {
  background-color: aquamarine;
  font-size: 20px;
  font-family: "Arial", cursive, sans-serif;
  cursor: Pointer
}
div {
}
img {
    width: 200px;
}